
button img{
  width: 40px;
  height:40px
}

h1{font-size:24px ;
  font-family:'Courier New', Courier, monospace;
  text-align: center;

}

p{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.main .btn {
  display:flex;
  justify-content: center;
  align-items: center;
 
}